*~
__pycache__
build
dist
.mypy_cache
virtme-ng-prompt
virtme_ng.egg-info/
.pybuild/
debian/virtme-ng/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/virtme-ng.debhelper.log
debian/virtme-ng.postinst.debhelper
debian/virtme-ng.prerm.debhelper
debian/virtme-ng.substvars
