# Kconfig helper rules to generate a working configuration.
# Use something like:
# make ARCH=arch KCONFIG_ALLCONFIG=prereqs.config defconfig

# Generic
CONFIG_PCI=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_9P_FS=y
CONFIG_VIRTIO_NET=y
CONFIG_CMDLINE_OVERRIDE=n
CONFIG_BINFMT_SCRIPT=y
CONFIG_TMPFS=y
CONFIG_MODULE_SIG_FORCE=n
CONFIG_DEVTMPFS=y

# virtio-scsi support
CONFIG_SCSI_LOWLEVEL=y
CONFIG_SCSI=y
CONFIG_SCSI_VIRTIO=y
CONFIG_BLK_DEV_SD=y

# virt-serial support
CONFIG_VIRTIO_CONSOLE=y

# watchdog (useful for test scripts)
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_CORE=y
CONFIG_I6300ESB_WDT=y