Source: virtme-ng
Section: misc
Priority: optional
Maintainer: Andrea Righi <andrea.righi@canonical.com>
Standards-Version: 4.6.2
Homepage: https://github.com/arighi/virtme-ng
Vcs-Git: https://github.com/arighi/virtme-ng
Vcs-Browser: https://github.com/arighi/virtme-ng
Rules-Requires-Root: no
Build-Depends: bash-completion,
               debhelper (>= 11),
               debhelper-compat (= 13),
               dh-python,
               python3-all:native,
               python3-argcomplete:native,
               python3-setuptools,
               libpython3-stdlib,
               cargo:native,
               rustc:native,
               libstd-rust-dev,
               librust-nix-dev,
               librust-users-dev,
               librust-capng-dev,
               librust-libseccomp-sys-dev

Package: virtme-ng
Architecture: any
Depends:
 ${misc:Depends},
 ${python3:Depends},
 qemu-system-x86,
 busybox-static,
 file,
 gcc-12,
 autoconf,
 automake,
 kmod,
 makedumpfile,
 libcap-dev,
 libelf-dev,
 libnewt-dev,
 libiberty-dev,
 default-jdk-headless,
 java-common,
 rsync,
 libdw-dev,
 libpci-dev,
 pkg-config,
 flex,
 bison,
 libunwind8-dev,
 liblzma-dev,
 openssl,
 libssl-dev,
 libaudit-dev,
 bc,
 gawk,
 libudev-dev,
 autoconf,
 automake,
 libtool,
 uuid-dev,
 libnuma-dev,
 acl,
 dkms,
 curl,
 zstd,
 pahole,
 xmlto,
 docbook-utils,
 ghostscript,
 fig2dev,
 bzip2,
 sharutils,
 asciidoc,
 python3-argcomplete,
 python3-dev,
 python3-sphinx,
 python3-sphinx-rtd-theme,
 fontconfig,
 python3-docutils,
 imagemagick,
 graphviz,
 dvipng,
 fonts-noto-cjk,
 latexmk,
 librsvg2-bin,
 fakeroot,
Suggests: pulseaudio-utils, dbus-x11
Provides: virtme
Conflicts: virtme
Replaces: virtme
Description: Build and run specific kernels inside a virtualized snapshot of your live system
 virtme-ng is a tool that allows to setup a lab to experiment different
 kernel versions in a safe virtualized environment, re-using the entire
 filesystem of the running machine as a safe live-copy, without affecting
 the real filesystem of the host.
