#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	mkdir -p $(CURDIR)/debian/virtme-ng/etc/bash_completion.d
	install -m 0644 virtme-ng-prompt $(CURDIR)/debian/virtme-ng/etc/bash_completion.d/virtme-ng-prompt
	install -m 0644 vng-prompt $(CURDIR)/debian/virtme-ng/etc/bash_completion.d/vng-prompt
