name: Run

on:
  push:
  pull_request:

jobs:
  run:
    runs-on: ubuntu-22.04
    steps:
      ### DEPENDENCIES ###

      # Hard turn-off interactive mode
      - run: echo 'debconf debconf/frontend select Noninteractive' | sudo debconf-set-selections

      # Install dependencies
      - run: sudo apt update
      - run: sudo apt install --yes git qemu-kvm udev iproute2 busybox-static coreutils python3-requests libvirt-clients kbd kmod file rsync zstd udev

      ### END DEPENDENCIES ###

      # Checkout git repository
      - uses: actions/checkout@v4

      # Run `uname -r` using a vanilla v6.6 kernel
      - run: ./vng -r v6.6 -- uname -r

      # Setup KVM support
      - name: "KVM support"
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      # Re-run with KVM support
      - name: "Check KVM support"
        run: |
          clocksource="/sys/devices/system/clocksource/clocksource0/current_clocksource"
          [ "$(./vng -r v6.6 -- cat "${clocksource}")" = "kvm-clock" ]
